---
import Layout from "../components/layout.astro";
import BlogFooter from "../components/blogFooter.astro";
import BlogHeader from "../components/blog-header.astro";
---

<Layout name="Blog">
  <BlogHeader name="Blog"/>
  <div class="grid-container">
    <main>
      <article>
        <a href="/blog-digital-nomad-visa-colombia">
          <i class="fa-regular fa-clock"> <small>Nov 5,2023</small></i>
          <h2>Digital Nomad Visa in Colombia</h2>
          <img
            src="https://img.asmedia.epimg.net/resizer/v2/UA54R2PEPVL4FMTYPPF5ZM3O3E.jpg?auth=c191b8ee0bacd22176f9bf39ce72e6215acf8d1e8e917e136fa71bd23a37f3bf&width=644&height=362&smart=true"
            alt=""
          />
          <p>
            The Colombian Digital Nomad Visa is for foreigners who want to live
            in Colombia and work remotely from Colombia on a temporary basis.
            This new visa allows foreign workers to work remotely for a foreign
            company while living in Colombia. This visa is also known as the
            Migrant (M) Visa.
          </p>
        </a>
      </article>
      <article>
        <a href="">
          <i class="fa-regular fa-clock"> <small>Nov 5,2023</small></i>
          <h2>Recommended Nature Travel Plans in Colombia 2024</h2>
          <img src="https://loremflickr.com/640/360" alt="" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
            nesciunt, suscipit corrupti nulla dolorum quis molestias eos dicta
            repellat voluptate exercitationem omnis nam iure ipsam quidem, esse
            animi tempora delectus.
          </p>
        </a>
      </article>
      <article>
        <a href="">
          <i class="fa-regular fa-clock"> <small>Nov 5,2023</small></i>
          <h2>Weekend getaway destinations near Bogota</h2>
          <img src="https://loremflickr.com/640/360" alt="" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
            nesciunt, suscipit corrupti nulla dolorum quis molestias eos dicta
            repellat voluptate exercitationem omnis nam iure ipsam quidem, esse
            animi tempora delectus.
          </p>
        </a>
      </article>
    </main>
    <aside>
      <details>
        <summary>Can I apply for a visa while I'm abroad?</summary>
        <p>
          Yes, you can. It is possible to apply while abroad through a Colombian
          consulate.
        </p>
      </details>
      <details>
        <summary
          >What answers could I receive back from the Ministry of Foreign
          Affairs?</summary
        >
        <p>
          Visa applications could be approved, require more information,
          non-approved, or denied. With the government’s right to exercise
          autonomy and discretion.
        </p>
      </details>
      <details>
        <summary>What documents need to be apostilled or legalized?</summary>
        <p>
          Every document brought from another country needs to be apostilled or
          legalized and, if necessary, translated to Spanish by an official
          Colombian translator.
        </p>
      </details>
      <details>
        <summary
          >Do I need to speak Spanish to apply for the Digital Nomad visa in
          Colombia?</summary
        >
        <p>
          No, Spanish language proficiency is not a requirement for the Digital
          Nomad visa in Colombia.
        </p>
      </details>
      <details>
        <summary
          >Can I apply for permanent residency in Colombia with a Digital Nomad
          visa?</summary
        >
        <p>
          No, the Digital Nomad visa in Colombia is a temporary visa and does
          not lead to permanent residency in Colombia.
        </p>
      </details>
      <details>
        <summary
          >Can I bring my family with me to Colombia with a Digital Nomad visa?</summary
        >
        <p>
          Yes, spouses and dependents can apply for a dependent visa and join
          the Digital Nomad visa holder in Colombia.
        </p>
      </details>
    </aside>
    <h2 class="title-post">Mas leidos</h2>
    <div class="post">
      <a href="">
        <img src="https://loremflickr.com/640/360" alt="" />
        <h4>Requirements to get the Digital Nomad Visa in Colombia</h4>
        <i class="fa-regular fa-clock"> <small>Nov 5,2023</small></i>
      </a>
    </div>
    <div class="post">
      <a href="">
        <img src="https://loremflickr.com/640/360" alt="" />
        <h4>Colombia Digital Nomad Visa-Updates</h4>
        <i class="fa-regular fa-clock"> <small>Nov 5,2023</small></i>
      </a>
    </div>
    <div class="post">
      <a href="">
        <img src="https://loremflickr.com/640/360" alt="" />
        <h4>Digital Nomad Visa- updates and experiences</h4>
        <i class="fa-regular fa-clock"> <small>Nov 5,2023</small></i>
      </a>
    </div>
    <div class="post">
      <a href="">
        <img src="https://loremflickr.com/640/360" alt="" />
        <h4>Requirements to get the Digital Nomad Visa in Colombia</h4>
        <i class="fa-regular fa-clock"> <small>Nov 5,2023</small></i>
      </a>
    </div>
  </div>
  <BlogFooter />
</Layout>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-color-global);
    font-family: var(--first-font);
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.6em;
    max-width: 1000px;
    width: 90%;
    margin: 3em auto;
    font-family: var(--second-font);
    
  }
  .title {
    text-align: center;
    margin-top: 4rem;
    color: var(--first-color);
  }
  main {
    grid-column: 1/4;
    background: var(--third-color);
    padding: 20px;
    border-radius: 1rem;
  }
  main article:not(:first-child) {
    margin-top: 3rem;
  }
  main article a {
    text-decoration: none;
  }
  main article a h2:hover {
    color: var(--second-color);
  }
  main article h2 {
    font-size: 40px;
    line-height: 3rem;
  }
  main article p {
    margin-top: 2rem;
    font-size: 1.3rem;
  }
  main article p a small {
    color: var(--first-color);
  }
  main article i {
    color: var(--first-color);
    font-weight: 700;
  }
  main article i small {
    color: var(--first-color);
    font-weight: 700;
  }
  main article img {
    width: 100%;
    object-fit: cover;
    padding: 0.5rem;
    border-radius: 1.5rem;
  }
  main article p aside {
    grid-column: span 1;
  }
  aside {
    margin-left: 1rem;
  }
  aside details summary {
    font-size: 1.2rem;
    color: var(--first-color);
    font-weight: 500;
  }
  aside details {
    margin-bottom: 2rem;
  }

  .title-post {
    grid-column: 1/-1;
    color: var(--first-color);
  }
  .post a {
    text-decoration: none;
  }
  .post h4 {
    font-size: 1.3rem;
  }
  .post a h4:hover {
    color: var(--second-color);
  }
  .post img {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .post a i {
    font-size: 0.8rem;
    color: var(--first-color);
    font-weight: 700;
  }
  .post a i small {
    font-weight: 700;
    color: var(--first-color);
  }
  footer {
    grid-column: 1/5;
  }

  @media (width<1100px) {
    .header .title {
      display: none;
    }

    .grid-container {
      box-sizing: border-box;
    }
  }
  @media (max-width: 768px) {
    main {
      grid-column: 1/-1;
    }
    aside {
      grid-column: 1/-1;
    }
    .post {
      grid-column: 1/-1;
    }
    .grid-container {
      padding: 0 4rem;
    }
    main article h2 {
      font-size: 2rem;
      line-height: 30px;
      margin-top: 10px;
    }
  }
  @media (width<600px) {
    .header a {
      display: none;
    }
    .header {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
</style>
