---
import Layout from "../components/layout.astro";
import BlogFooter from "../components/blogFooter.astro";
---

<Layout>
  <div class="blog">
    <div class="header">
      <h1 class="logo">logo</h1>
      <h1 class="title">Blog Digital Nomads Association Colombia</h1>
      <a  href="">Inscribete</a>
    </div>
    <div class="grid-container">
      <main>
        <article>
          <a href="">
            <i class="fa-regular fa-clock"> <small>Nov 5,2023</small></i>
            <h2>Digital Nomad Visa in Colombia</h2>
            <img
              src="https://img.asmedia.epimg.net/resizer/v2/UA54R2PEPVL4FMTYPPF5ZM3O3E.jpg?auth=c191b8ee0bacd22176f9bf39ce72e6215acf8d1e8e917e136fa71bd23a37f3bf&width=644&height=362&smart=true"
              alt=""
            />
            <p>
              The Colombian Digital Nomad Visa is for foreigners who want to
              live in Colombia and work remotely from Colombia on a temporary
              basis. This new visa allows foreign workers to work remotely for a
              foreign company while living in Colombia. This visa is also known
              as the Migrant (M) Visa.
            </p>
          </a>
        </article>
        <article>
          <a href="">
            <i class="fa-regular fa-clock"> <small>Nov 5,2023</small></i>
            <h2>Recommended Nature Travel Plans in Colombia 2024</h2>
            <img src="https://loremflickr.com/640/360" alt="" />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
              nesciunt, suscipit corrupti nulla dolorum quis molestias eos dicta
              repellat voluptate exercitationem omnis nam iure ipsam quidem,
              esse animi tempora delectus.
            </p>
          </a>
        </article>
        <article>
          <a href="">
            <i class="fa-regular fa-clock"> <small>Nov 5,2023</small></i>
            <h2>Weekend getaway destinations near Bogota</h2>
            <img src="https://loremflickr.com/640/360" alt="" />
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
              nesciunt, suscipit corrupti nulla dolorum quis molestias eos dicta
              repellat voluptate exercitationem omnis nam iure ipsam quidem,
              esse animi tempora delectus.
            </p>
          </a>
        </article>
      </main>
      <aside>
        <details>
          <summary>Can I apply for a visa while I'm abroad?</summary>
          <p>
            Yes, you can. It is possible to apply while abroad through a
            Colombian consulate.
          </p>
        </details>
        <details>
          <summary
            >What answers could I receive back from the Ministry of Foreign
            Affairs?</summary
          >
          <p>
            Visa applications could be approved, require more information,
            non-approved, or denied. With the government’s right to exercise
            autonomy and discretion.
          </p>
        </details>
        <details>
          <summary>What documents need to be apostilled or legalized?</summary>
          <p>
            Every document brought from another country needs to be apostilled
            or legalized and, if necessary, translated to Spanish by an official
            Colombian translator.
          </p>
        </details>
        <details>
          <summary
            >Do I need to speak Spanish to apply for the Digital Nomad visa in
            Colombia?</summary
          >
          <p>
            No, Spanish language proficiency is not a requirement for the
            Digital Nomad visa in Colombia.
          </p>
        </details>
        <details>
          <summary
            >Can I apply for permanent residency in Colombia with a Digital
            Nomad visa?</summary
          >
          <p>
            No, the Digital Nomad visa in Colombia is a temporary visa and does
            not lead to permanent residency in Colombia.
          </p>
        </details>
        <details>
          <summary
            >Can I bring my family with me to Colombia with a Digital Nomad
            visa?</summary
          >
          <p>
            Yes, spouses and dependents can apply for a dependent visa and join
            the Digital Nomad visa holder in Colombia.
          </p>
        </details>
      </aside>
      <div class="post">
        <a href="">
          <img src="https://loremflickr.com/640/360" alt="" />
          <h4>Requirements to get the Digital Nomad Visa in Colombia</h4>
          <i class="fa-regular fa-clock"> <small>Nov 5,2023</small></i>
        </a>
      </div>
      <div class="post">
        <a href="">
          <img src="https://loremflickr.com/640/360" alt="" />
          <h4>Colombia Digital Nomad Visa-Updates</h4>
          <i class="fa-regular fa-clock"> <small>Nov 5,2023</small></i>
        </a>
      </div>
      <div class="post">
        <a href="">
          <img src="https://loremflickr.com/640/360" alt="" />
          <h4>Digital Nomad Visa- updates and experiences</h4>
          <i class="fa-regular fa-clock"> <small>Nov 5,2023</small></i>
        </a>
      </div>
      <div class="post">
        <a href="">
          <img src="https://loremflickr.com/640/360" alt="" />
          <h4>Requirements to get the Digital Nomad Visa in Colombia</h4>
          <i class="fa-regular fa-clock"> <small>Nov 5,2023</small></i>
        </a>
      </div>
    </div>
    <BlogFooter />
  </div>
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

  :root {
    --size-h1: 4rem;
    --size-h2: 3rem;
    --letter-space: 1.5px;
    --first-color: #0d4224;
    --second-color: #006838;
    --third-color: #f1efea;
    --first-font: "League Spartan", sans-serif;
    --second-font: "Open Sans", sans-serif;
    --font-size-p: 1.5rem;
    --font-size-h-card: 25px;
    --font-color-global: rgba(67, 68, 68, 1);
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-color-global);
  }
  .blog{
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
  }
  
  .header {
    padding: 2rem 10rem;
    font-family: var(--first-font);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--third-color);
    box-shadow: 0 0 20px var(--second-color);
    border-radius: 0 0 1rem 1rem;
    /* width: 100%; */
    
  }
  .header a {
    background: var(--first-color);
    padding: 1rem;
    color: white;
    border-radius: 1rem;
    text-decoration: none;
    cursor: pointer;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.6em;
    max-width: 1000px;
    width: 90%;
    margin: 7em auto;
    font-family: var(--second-font);
    /* margin-bottom: 7rem; */
  }

  main {
    grid-column: 1/4;
    background: var(--third-color);
    padding: 20px;
    border-radius: 1rem;
  }
  main article:not(:first-child) {
    margin-top: 3rem;
  }
  main article a {
    text-decoration: none;
  }
  main article a h2:hover {
    color: var(--second-color);
  }
  main article h2 {
    font-size: 40px;
    line-height: 3rem;
  }
  main article p {
    margin-top: 2rem;
  }
  main article p a small {
    color: var(--first-color);
  }
  main article i {
    color: var(--first-color);
    font-weight: 700;
  }
  main article i small {
    color: var(--first-color);
    font-weight: 700;
  }
  main article img {
    width: 100%;
    object-fit: cover;
    padding: 0.5rem;
    border-radius: 1.5rem;
  }
  main article p aside {
    grid-column: span 1;
  }
  aside {
    margin-left: 1rem;
  }
  aside details summary{
    font-size: 1.2rem;
    color: var(--first-color);
    font-weight: 500;
  }
  aside details{
    margin-bottom: 2rem;
  }
 
  
  .post a {
    text-decoration: none;
  }
  .post img {
    width: 100%;
    border-radius: 0.5rem;
  }
  .post a i {
    font-size: 0.8rem;
    color: var(--first-color);
    font-weight: 700;
  }
  .post a i small {
    font-weight: 700;
    color: var(--first-color);
  }
  footer {
    grid-column: 1/5;
  }

  @media(width<1100px){
    .header .title{
      display: none;
    }
    
    .grid-container{
      box-sizing: border-box;
    }
  }
  
  @media(width<600px){
    .header a{
      display: none;
    }
    .header {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
  }
</style>
