---
import Layout from "../components/layout.astro";
import Header from "../components/header.astro";
import Banner from "../components/banner.astro";
import About from "../components/about.astro";
---

<Layout>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
    </head>
    <body>
      <Header />
      <Banner />
      <About />
	  <About />
	  <About />
	  <About />
    </body>
  </html>
</Layout>
