---
import Header from "../components/header.astro";
import Banner from "../components/banner.astro";
import About from "../components/about.astro";
import Cards from "../components/cards.astro";
import SliderPartners from "../components/sliderPartners.astro";
import Teams from "../components/teams.astro";
import Founders from "../components/founders.astro";
import Footer from "../components/footer.astro";
import Ambassadors from "../components/Ambassadors.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="../../Diseño sin título (1).png"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>DNAcol</title>
  </head>
  <body>
    <Header />
    <Banner />
    <About />
    <Cards />
    <Founders />
    <Teams />
    <Ambassadors/>
    <SliderPartners />
    <Footer />
    

    <script type="text/javascript">
      window.addEventListener("scroll", () => {
        var header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY != 0);
      });
    </script>
    <script type="text/javascript">
      hamburger = document.querySelector(".hamburger");
      hamburger.onclick = () => {
        nav = document.querySelector("nav");
        nav.classList.toggle("nav-bar");
      };
    </script>

    <script
      src="https://kit.fontawesome.com/b992314f76.js"
      crossorigin="anonymous"></script>
  </body>
</html>

<style>
  @import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
 
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
 
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  :root {
    --size-h1: 4rem;
    --size-h2: 3rem;
    --letter-space: 1.5px;
    --first-color: #0d4224;
    --second-color: #006838;
    --third-color: #f1efea;
    --first-font: "League Spartan", sans-serif;
    --second-font: "Open Sans", sans-serif;
    --font-size-p: 1.5rem;
    --font-size-h-card: 25px;
    --font-color-global: rgba(67, 68, 68, 1);
  }
</style>
