<div id="about" class="container">
  <h2>About</h2>
  <p>
    The Digital Nomads Association Colombia connects, guides and inspires nomads
    around the world through their experience in Colombia, in harmony with its
    culture and the locals.
  </p>
</div>

<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 4rem;
    box-sizing: border-box;
    animation-name: move;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
  }
  .container h2 {
    font-size: var(--size-h2);
    letter-spacing: var(--letter-space);
    font-family: var(--first-font);
    color: var(--first-color);
    
  }
  .container p {
    padding: 0 10rem;
    font-family: var(--second-font);
    text-align: justify;
    font-size: var(--font-size-p);
    color: var(--font-color-global);
  }
  @media (width < 970px) {
    .container p {
      padding: 0 8rem;
    }
  }
  @media (width < 898px) {
    .container p {
      padding: 0 6rem;
    }
  }
  @media (width < 830px) {
    .container p {
      padding: 0 4rem;
      font-family: var(--second-font);
    }
  }
  @keyframes move {
    from{
      opacity: 0;
      translate: 0 100px;
      scale: 0.5;
    }
    to{
      opacity: 1;
      translate: 0 0;
      scale: 1;
    }
  }
</style>
