<div id="about" class="container">
    <h2>About</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde quo omnis culpa repellat velit! Veniam ex quo cum reiciendis temporibus. Quis error, dolores tenetur sed quia consectetur hic officiis cum.</p>
</div>

<style>
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: 4rem;
        box-sizing: border-box;
    }
    .container h2{
        font-size: var(--size-h2);
        letter-spacing: var(--letter-space);
    }
    .container p{
        padding: 0 10rem;
    }
</style>