---
const {name}=Astro.props
---

<div class="blog">
  <div class="header">
    <h1 class="logo">logo</h1>
    <h1>{name}</h1>
    <a class="button" href="">Inscribete</a>
  </div>
  <h1 class="title">Digital Nomads Association Colombia</h1>
</div>
<style>
  .header {
    padding: 0rem 10rem;
    font-family: var(--first-font);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--third-color);
    box-shadow: 0 0 20px var(--second-color);
    border-radius: 0 0 1rem 1rem;
    color: var(--font-color-global);
  }
  .header a {
    background: var(--first-color);
    padding: 1rem;
    color: white;
    border-radius: 1rem;
    text-decoration: none;
    cursor: pointer;
  }
  .blog .title{
    text-align: center;
    margin-top: 3rem;
  }
  @media (width<900px) {
    .header .logo {
      display: none;
    }
    .header .button {
      display: none;
    }
    .header {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
</style>
