<div class="container-cards">
  <h2>Our values</h2>
  <p id="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quaerat optio libero recusandae cupiditate quidem veritatis nobis ipsa excepturi, magni tenetur, voluptates dolore voluptas maiores?</p>
  <div class="container">
    <div class="card">
      <img
        src="https://i0.wp.com/digitalnomadsassociationcolombia.com/wp-content/uploads/2022/11/Conection-with-locals.jpg?w=700&ssl=1"
        alt=""
      />
      <div class="card-content">
        <h3>Connecting with local communities</h3>
        <p>
          Is vital for an association of digital nomads in Colombia. It fosters
          mutual understanding and cultural exchange, enriching the nomads'
          experiences and supporting the locals' economies. By building these
          relationships, digital nomads can immerse themselves more deeply in
          Colombian culture, gain unique insights, and contribute positively to
          the areas they inhabit. This connection ensures that their presence
          benefits both the nomads and the local communities, creating a more
          sustainable and harmonious coexistence.
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="https://i0.wp.com/digitalnomadsassociationcolombia.com/wp-content/uploads/2022/11/DNA-Colombia.jpg?w=800&ssl=1"
      />
      <div class="card-content">
        <h3>Sustainable tourism</h3>
        <p>
          Is crucial for digital nomads as it preserves the destinations they
          love, supports local economies, and minimizes environmental impact. By
          adopting eco-friendly practices, they ensure that these places remain
          vibrant and welcoming for future visitors, aligning with their values
          and promoting a positive global image of digital nomadism.
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="https://i0.wp.com/digitalnomadsassociationcolombia.com/wp-content/uploads/2022/11/Digital-nomad-visa-Colombia.jpg?w=700&ssl=1"
      />
      <div class="card-content">
        <h3>Open minded</h3>
        <p>
          Open-mindedness is a crucial value for an association of digital
          nomads as it encourages adaptability, cultural sensitivity, and
          continuous learning. By embracing diverse perspectives and new
          experiences, nomads can navigate different cultures with respect and
          curiosity, fostering meaningful connections and enriching their
          personal and professional lives
        </p>
      </div>
    </div>
  </div>
</div>
<style>
  .container-cards {
    display: flex;
    flex-direction: column;
    animation-name: move;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
    
  }
 
  .container-cards h2 {
    text-align: center;
    font-size: var(--size-h2);
    letter-spacing: var(--letter-space);
    color: var(--first-color);
    font-family: var(--first-font);
  }
  .container-cards #parrafo{
    padding: 0 10rem;
    font-family: var(--second-font);
    text-align: justify;
    font-size: var(--font-size-p);
    color: var(--font-color-global);
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    box-sizing: border-box;
  }
  .card {
    width: 320px;
    background: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    border-radius: 1rem;
    box-shadow: 10px 10px 20px rgba(0, 104, 56, 0.5);
  }
  .card img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .card-content h3{
    margin-left: 1rem;
    font-family: var(--first-font);
    font-size: var(--font-size-h-card);
    color: var(--font-color-global);
  }
  .card-content p{
    margin: 0 1rem 1rem 1rem;
    text-align: justify;
    font-family: var(--second-font);
    color: var(--font-color-global);
  }
  @keyframes move {
    from{
      opacity: 0;
      translate: 0 100px;
      scale: 0.5;
    }
    to{
      opacity: 1;
      translate: 0 0;
      scale: 1;
    }
  }
</style>
