<div class="container-footer">
  <div class="container-main">
    <!-- <img width="80px" src="../Diseño sin título (1).png" alt="" /> -->
    <h3>Logo</h3>
    <nav>
      <ul>
        <li><a class="active" id="banner" href="">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#partners">Partners</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="">Contact us</a></li>
        <li class="excepto"><a href="">Nomad Visa</a></li>
      </ul>
    </nav>

    <div class="social-container">
      <a href="https://www.facebook.com/francois.mongeau"
        ><i class="fa-brands fa-facebook"></i></a
      >
      <a href="https://www.linkedin.com/in/francois-mongeau-b615159/"
        ><i class="fa-brands fa-linkedin"></i></a
      >
      <a href="https://www.instagram.com/francois.mongeau/"
        ><i class="fa-brands fa-instagram"></i></a
      >
      <a href="Francois.mongeau@dnacol.com"
        ><i class="fa-solid fa-envelope"></i></a
      >
    </div>
  </div>
  <div class="text">
    <p>
      DNAcolombia offers the opportunity to live unforgettable experiences for
      digital nomads and freelancers. Don't wait any longer! Explore and join
      our network of over 100K+ professionals on the go.
    </p>
  </div>
  <div class="copyrigth">
    <h5>DNAcol | © 2024 All Rights Reserved</h5>
  </div>
</div>

<style>
  .container-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--first-font);
  }
  .text p{
    font-family: var(--first-font);
  }
  .copyrigth h5{
    font-family: var(--first-font)
  }
  .container-main h3 {
    color: var(--third-color);
  }
  .container-footer {
    width: 100%;
    min-height: 100px;
    background: var(--first-color);
    display: grid;
    justify-content: center;
    padding: 2rem 5rem 0 5rem;
    box-sizing: border-box;
    border-radius: 1rem 1rem 0 0 ;
  }
  .container-footer .text p {
    padding: 0 10rem;
    text-align: center;
    color: var(--third-color);
  }
  .container-footer .copyrigth {
    text-align: center;
    color: var(--third-color);
  }

  .social-container {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .social-container a i {
    color: var(--third-color);
  }
  .social-container a i:hover{
    color: var(--second-color);
  }
  .copyrigth {
    text-align: center;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav ul li {
    padding-right: 0.5rem;
    list-style: none;
  }
  nav ul li a {
    display: block;
    font-size: 20px;
    padding: 10px 10px;
    /* margin: 0 5px; */
    border-radius: 50px;
    transition: 0.4s;
    text-decoration: none;
    color: var(--third-color);
  }

</style>
