<div  id="team" class="card-area">
  <div class="wrapper">
    <h2>Founders</h2>
    <p id="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, aperiam eveniet? Excepturi possimus laborum nam dolor repellat illum maiores rerum, necessitatibus consequuntur beatae nostrum ipsa.</p>
    <div class="box-area">
      <div class="box">
        <img
          src="https://i0.wp.com/digitalnomadsassociationcolombia.com/wp-content/uploads/2022/10/cropped-48689f1e-2fc4-4284-a18d-e3f5d6690797.jpg?w=1024&ssl=1"
          alt=""
        />
        <div class="box-contend">
          <h3>Nadia Cortés</h3>
          <h4>President, General Director</h4>
          <p>
            Nadia is a Digital Nomad from Bogotá, Colombia. She is passionated
            about languages, philosophy, and urban planning.
          </p>
          <div class="social-container">
            <a href="https://www.facebook.com/nadia.alejandra.56"
              ><i class="fa-brands fa-facebook"></i></a
            >
            <a
              href="https://www.linkedin.com/in/nadia-cort%C3%A9s-quenguan-5362bb1a/"
              ><i class="fa-brands fa-linkedin"></i></a
            >
            <a href="https://www.instagram.com/spanishfordigitalnomads/"
              ><i class="fa-brands fa-instagram"></i></a
            >
            <a href="nadia.cortes@dnacol.com"
              ><i class="fa-solid fa-envelope"></i></a
            >
          </div>
        </div>
      </div>
      <div class="box">
        <img
          src="https://i0.wp.com/digitalnomadsassociationcolombia.com/wp-content/uploads/2022/10/9bfacb73-bdfd-414f-b25b-7436af2ad846.jpg?resize=1024%2C1024&ssl=1"
          alt=""
        />
        <div class="box-contend">
          <h3>Marie-Ève Lord</h3>
          <h4>Director of Products and Special Projects</h4>
          <p>
            Marie is a digital communications expert, from Montreal, Canada, and
            started her Digital Nomad Life in January 2022.
          </p>
          <div class="social-container">
            <a href="https://www.facebook.com/lordmarieeve"
              ><i class="fa-brands fa-facebook"></i></a
            >
            <a href="https://www.linkedin.com/in/marieevelord/"
              ><i class="fa-brands fa-linkedin"></i></a
            >
            <a href="https://www.instagram.com/lordmarieeve/"
              ><i class="fa-brands fa-instagram"></i></a
            >
            <a href="marieeve.lord@dnacol.com"
              ><i class="fa-solid fa-envelope"></i></a
            >
          </div>
        </div>
      </div>
      <div class="box">
        <img
          src="https://i0.wp.com/digitalnomadsassociationcolombia.com/wp-content/uploads/2023/02/New-Product-Launch-Polaroids-Instagram-Post-4.png?w=900&ssl=1"
          alt=""
        />
        <div class="box-contend">
          <h3>Francois Mongeau</h3>
          <h4>Director of Technology</h4>
          <p>
            Francois is an enthusiastic software developer originally from
            Shawinigan, Canada. He is now working from Medellin and his Spanish
            is improving every day.
          </p>
          <div class="social-container">
            <a href="https://www.facebook.com/francois.mongeau"
              ><i class="fa-brands fa-facebook"></i></a
            >
            <a href="https://www.linkedin.com/in/francois-mongeau-b615159/"
              ><i class="fa-brands fa-linkedin"></i></a
            >
            <a href="https://www.instagram.com/francois.mongeau/"
              ><i class="fa-brands fa-instagram"></i></a
            >
            <a href="Francois.mongeau@dnacol.com"
              ><i class="fa-solid fa-envelope"></i></a
            >
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

<style>
  .wrapper {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .wrapper h2 {
    font-family: var(--first-font);
    font-size: var(--size-h2);
    letter-spacing: var(--letter-space);
    color: var(--first-color);
  }
  .wrapper #parrafo{
    padding: 0 10rem;
    font-family: var(--second-font);
    text-align: justify;
    font-size: var(--font-size-p);
    color: var(--font-color-global);
  }
  .card-area {
    padding: 50px 40px;
  }
  .box-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
  }
  .box {
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
  }
  .box img {
    width: 100%;
    display: block;
    transition: transform 0.5s;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
  .box-contend h3 {
    font-family: var(--first-font);
    font-size: var(--font-size-h-card);
    color: var(--third-color);
    text-shadow: 5px 5px 5px #000;
    margin-bottom: 0;
  }
  .box-contend h4{
    font-family: var(--first-font);
    font-size: 1.2rem;
    color: var(--third-color);
    text-shadow: 5px 5px 5px #000;
    margin-bottom: 0;
  }
  .box-contend p {
    font-family: var(--second-font);
    color: var(--third-color);
    text-shadow: 5px 5px 5px #000;
  }
  .social-container a i {
    font-size: 1.3rem;
    padding-left: 1rem;
    color: var(--third-color);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }
  .social-container a i:hover{
    color: var(--second-color);
  }

  .box-contend {
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, var(--second-color) 52%);
    border-radius: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    box-sizing: border-box;
    transition: height 0.5s;
  }
  .box:hover .box-contend {
    height: 100%;
  }
</style>
