---
import About from "./about.astro";
---

<header id="home">
  <div class="logo">
    <a  href=""><img src="" alt="">DNA colombia</a>
  </div>
  <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <nav>
    <ul>
      <li><a class="active" id="banner" href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#team">Team</a></li>
      <li><a href="">Contact us</a></li>
      <li><a href="/blog">Blog</a></li>
      <!-- <li class="excepto"><a  href="">Nomad Visa</a></li> -->
    </ul>
  </nav>
</header>



<style>
  header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: 0.8s;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px 50px 80px;
    box-sizing: border-box;
    z-index: 1;
    font-family: var(--first-font);
    font-weight: 500;
    
    
  }
  header a{
    text-decoration: none;
    
  }
  .logo a img{
    width:160px;
    object-fit: cover;
    
    
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav ul li{
    padding-right: 1rem;
    list-style: none;
  }
  nav ul li .active{
    background: var(--third-color);
    color: var(--first-color);
  }
  
  nav ul li a{
    display: block;
    font-size: 20px;
    padding: 10px 10px;
    /* margin: 0 5px; */
    border-radius: 50px;
    transition: .4s;
    color: var(--first-color);
    text-shadow: 5px 5px 5px #fff;
    
  }
  nav ul li a:hover{
    background: var(--third-color);
    
  }
  /* .sticky {
    background: var(--third-color);
    backdrop-filter: blur(5px);
    transition: 1.2s;
  } */
  .sticky a{
    color: #fefe;
  }
  @media (max-width:1320px) {
    header{
      padding: 0 50px;
    }
  }
    @media (max-width:1100px) {
    header{
      padding: 0 30px;
    }
  }

  @media (max-width:900px) {
    .hamburger{
      display: block;
      cursor: pointer;
    }
    .hamburger .line{
      width: 30px;
      height: 3px;
      background: #fefefe;
      margin: 5px 0;
      border-radius: 2px;
    }
    nav{
      position: absolute;
      top: 80px;
      left: 0;
      width: 100vw;
      height: 0px;
      background: rgba(252, 250, 250, 0.5);
      backdrop-filter: blur(10px);
      transition: 0.2s;
      overflow: hidden;
      border-radius: 0 0 1rem 1rem;
    }
    nav ul{
      display: block;
      width: fit-content;
      text-align: center;
      margin: 6rem auto 0 auto;
      transition: 0.5s;
      opacity: 0;
    }
    .active{
      padding: 10px 10px;
      background: #202020;
      color: #fefe;
    }
    nav.nav-bar{
      height: 450px;
      transition: 0.9s;
    }
    nav.nav-bar ul{
      opacity: 1;
    }
    nav ul li a{
      
    }
    nav ul li a:hover{
      padding: 10px 10px;
      background: #202020;
      color: #fefe;
    }
  }
</style>

