<div class="slider-container">
  <h2>Partners</h2>

  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <a href=""
          ><img
            src="https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?q=80&w=1421&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
          /></a
        >
      </div>
      <div class="slide">
        <a href=""
          ><img
            src="https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?q=80&w=1421&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
          /></a
        >
      </div>
      <div class="slide">
        <a href=""
          ><img
            src="https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?q=80&w=1421&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
          /></a
        >
      </div>
      <div class="slide">
        <a href=""
          ><img
            src="https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?q=80&w=1421&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
          /></a
        >
      </div>
      <div class="slide">
        <a href=""
          ><img
            src="https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?q=80&w=1421&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
          /></a
        >
      </div>
    </div>
  </div>
</div>
<style>
  .slider-container{
    display: block;
  }  
  .slider-container h2{
    font-size: var(--size-h2);
    letter-spacing: var(--letter-space);
    text-align: center;
  }
  .slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
  }
  .slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
  }
  .slider .slide {
    width: 200px;
  }
  .slider .slide a img {
    width: 100%;
  }
</style>
