<div id="partners" class="slider-container">
  <h2>Partners</h2>

  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <a href="">
          <img src="../Andrés Luna Narváez (1).jfif" alt="" />
        </a>
      </div>
      <div class="slide">
        <a href="../CASTRO Y SALAZAR-1 - pamela jimenez.jpg">
          <img src="" alt="" /></a
        >
      </div>
      <div class="slide">
        <a href=""><img src="../Casa_Colibri_Logo.jpg" alt="" /></a>
      </div>
      <div class="slide">
        <a href=""> <img src="../Juan Aguilar.jpg" alt="" /></a>
      </div>
      <div class="slide">
        <a href=""><img src="../LIFFE DANCE STUDIOS .png" alt="" /></a>
      </div>
      <div class="slide">
        <a href=""
          ><img src="../LOGO SIERRASANJUAN - Rafa Tapia.jpg" alt="" /></a
        >
      </div>
      <div class="slide bicycle">
        <a href=""><img src="../Louis Georgeot.png" alt="" /></a>
      </div>
      <div class="slide">
        <a href=""><img src="../soñarte .png" alt="" /></a>
      </div>
      <div class="slide">
        <a href=""><img src="../V1 - EON Xperts.png" alt="" /></a>
      </div>
      <div class="slide">
        <a href=""><img src="../VECINO_COLIVING .jpg" alt="" /></a>
      </div>
      <!-- other -->
      <div class="slide">
        <a href="">
          <img src="../Andrés Luna Narváez (1).jfif" alt="" />
        </a>
      </div>
      <div class="slide">
        <a href="">
          <img src="../CASTRO Y SALAZAR-1 - pamela jimenez.jpg" alt="" /></a
        >
      </div>
      <div class="slide">
        <a href=""><img src="../Casa_Colibri_Logo.jpg" alt="" /></a>
      </div>
      <div class="slide">
        <a href=""> <img src="../Juan Aguilar.jpg" alt="" /></a>
      </div>
      <div class="slide">
        <a href=""><img src="../LIFFE DANCE STUDIOS .png" alt="" /></a>
      </div>
      <div class="slide">
        <a href=""
          ><img src="../LOGO SIERRASANJUAN - Rafa Tapia.jpg" alt="" /></a
        >
      </div>
      <div class="slide">
        <a href=""><img src="../Louis Georgeot.png" alt="" /></a>
      </div>
      <div class="slide">
        <a href=""><img src="../soñarte .png" alt="" /></a>
      </div>
      <div class="slide">
        <a href=""><img src="../V1 - EON Xperts.png" alt="" /></a>
      </div>
      <div class="slide">
        <a href=""><img src="../VECINO_COLIVING .jpg" alt="" /></a>
      </div>
    </div>
  </div>
</div>
<style>
  .slider-container {
    display: block;
    margin: 5rem 0;
  }
  .slider-container h2 {
    font-size: var(--size-h2);
    letter-spacing: var(--letter-space);
    text-align: center;
    font-family: var(--first-font);
    color: var(--first-color);
  }
  .slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
  }
  .slide {
    padding: 1rem;
  }

  .slider .slide-track {
    display: flex;
    animation: scroll 30s linear infinite;
    -webkit-animation: scroll 20s linear infinite;
    width: calc(350px * 10);
  }
  .slider .slide {
    width: 350px;
  }
  .slider .slide img {
    width: 100%;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-350px * 5));
    }
  }
</style>
