<div class="card-area">
  <div class="wrapper">
    <h2>Team</h2>
    <p id="parrafo">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. A maiores dolor molestiae! Ratione, repudiandae maiores accusamus architecto non ullam velit amet tempore harum facere deserunt!
    </p>
    <div class="box-area">
      <div class="box">
        <img
          src="../4 Joan Boluda Chova-4 (1).jpg"
          alt=""
        />
        <div class="box-contend">
          <h3>Joan</h3>
          <h4>Director of International Affairs</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum itaque, consectetur voluptas amet similique eos aspernatur blanditiis officiis voluptate recusandae?
          </p>
          <div class="social-container">
            <a href="https://www.facebook.com/francois.mongeau"
              ><i class="fa-brands fa-facebook"></i></a
            >
            <a href="https://www.linkedin.com/in/francois-mongeau-b615159/"
              ><i class="fa-brands fa-linkedin"></i></a
            >
            <a href="https://www.instagram.com/francois.mongeau/"
              ><i class="fa-brands fa-instagram"></i></a
            >
            <a href="Francois.mongeau@dnacol.com"
              ><i class="fa-solid fa-envelope"></i></a
            >
          </div>
        </div>
      </div>
      <div class="box">
        <img
          src="https://i0.wp.com/digitalnomadsassociationcolombia.com/wp-content/uploads/2023/02/New-Product-Launch-Polaroids-Instagram-Post-2.png?w=700&ssl=1"
          alt=""
        />
        <div class="box-contend">
          <h3>Laura Morales</h3>
          <h4>Director of Marketing and Communications</h4>
          <p>
            Laura is an adept and curious content marketing strategist from Bogotá, Colombia, now exploring the world as a Digital Nomad. 
          <div class="social-container">
            <a href="https://www.facebook.com/nadia.alejandra.56"
              ><i class="fa-brands fa-facebook"></i></a
            >
            <a
              href="https://www.linkedin.com/in/nadia-cort%C3%A9s-quenguan-5362bb1a/"
              ><i class="fa-brands fa-linkedin"></i></a
            >
            <a href="https://www.instagram.com/spanishfordigitalnomads/"
              ><i class="fa-brands fa-instagram"></i></a
            >
            <a href="nadia.cortes@dnacol.com"
              ><i class="fa-solid fa-envelope"></i></a
            >
          </div>
        </div>
      </div>
      <div class="box">
        <img
          src="../fotoSara.jpeg"
          alt=""
        />
        <div class="box-contend">
          <h3>Sara López Arcila</h3>
          <h4>Community Manager</h4>
          <p>
            Sara from Medellín. She is an audiovisual communicator passionate about photography, and she loves capturing unique moments and telling stories through her camera
          </p>
          <div class="social-container">
            <a href="https://www.facebook.com/share/tA9NkywTAW5TSJTb/?mibextid=qi2Omg"
              ><i class="fa-brands fa-facebook"></i></a
            >
            <a href="https://www.linkedin.com/in/sarislopz?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
              ><i class="fa-brands fa-linkedin"></i></a
            >
            <a href="https://www.instagram.com/sara.estudio?igsh=MmtpbnpocXl4aWF1"
              ><i class="fa-brands fa-instagram"></i></a
            >
            
          </div>
        </div>
      </div>
      <div class="box">
        <img
          src="../fotoDaniela.jpeg"
          alt=""
        />
        <div class="box-contend">
          <h3>Daniela</h3>
          <h4>Communications assistant</h4>
          <p class="text-daniela">
            Daniela is a graphic designer with a great passion for illustration. She is excited to start her journey as a digital nomad, combining her love for design with the freedom to work from anywhere. Daniela is eager to explore new opportunities and places while advancing her career!
          </p>
          <div class="social-container">
            <a href="https://www.facebook.com/francois.mongeau"
              ><i class="fa-brands fa-facebook"></i></a
            >
            <a href="https://www.linkedin.com/in/francois-mongeau-b615159/"
              ><i class="fa-brands fa-linkedin"></i></a
            >
            <a href="https://www.instagram.com/daniela_lozano_16/"
              ><i class="fa-brands fa-instagram"></i></a
            >
          </div>
        </div>
      </div>
      <div class="box">
        <img
          src="../silvia.jpeg"
          alt=""
        />
        <div class="box-contend">
          <h3>Silvia Madrón</h3>
          <h4>Project Manager</h4>
          <p class="text-daniela">
            Silvia is a Digital Nomad from Como, Italy. She is passionated about languages, latin danses, and discovering foreign cultures. 
          </p>
          <div class="social-container">
            <a href="https://www.facebook.com/silvia.madron/"
              ><i class="fa-brands fa-facebook"></i></a
            >
            <a href="https://www.linkedin.com/in/silvia-madron/"
              ><i class="fa-brands fa-linkedin"></i></a
            >
            <a href="https://www.instagram.com/silv14_m/"
              ><i class="fa-brands fa-instagram"></i></a
            >
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

<style>
  .wrapper {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .wrapper h2 {
    font-family: var(--first-font);
    font-size: var(--size-h2);
    letter-spacing: var(--letter-space);
    color: var(--first-color);
  }
  .wrapper #parrafo{
    padding: 0 10rem;
    font-family: var(--second-font);
    text-align: justify;
    font-size: var(--font-size-p);
    color: var(--font-color-global);
  }
  .card-area {
    padding: 10px 40px;
    animation-name: move;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
  }
  .box-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
justify-content: center;  }
  .box {
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
  }
  .box img {
    width: 100%;
    display: block;
    transition: transform 0.5s;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
  .box-contend h3 {
    font-family: var(--first-font);
    font-size: var(--font-size-h-card);
    color: var(--third-color);
    text-shadow: 5px 5px 5px #000;
    margin-bottom: 0;
  }
  .box-contend h4{
    font-family: var(--first-font);
    font-size: 1.2rem;
    color: var(--third-color);
    text-shadow: 5px 5px 5px #000;
    margin-bottom: 0;
  }
  .box-contend p {
    font-family: var(--second-font);
    color: var(--third-color);
    text-shadow: 5px 5px 5px #000;
  }
  .text-daniela{
    font-size: 0.9rem;
  }
  .social-container a i {
    font-size: 1.3rem;
    padding-left: 1rem;
    color: var(--third-color);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }
  .social-container a i:hover{
    color: var(--second-color);
  }

  .box-contend {
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, var(--second-color) 52%);
    border-radius: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    box-sizing: border-box;
    transition: height 0.5s;
  }
  .box:hover .box-contend {
    height: 100%;
  }
  @keyframes move {
    from{
      opacity: 0;
      translate: 0 100px;
      scale: 0.5;
    }
    to{
      opacity: 1;
      translate: 0 0;
      scale: 1;
    }
  }
</style>